#
# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log

############ builds
# src-haxe/bin should be ignored. Its here just to compare the .js output
# haxe
#src-haxe/bin/

# webpack
build/
buildReact/

# Babel
src-haxe/bin-babel